* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #495057;
	background-attachment: fixed;
	background-size: cover;
}
.logo {
	width: 50px;
	height: 50px;
	padding-bottom: 0px;
}
.navbar-brand {
	font-family:fantasy,Copperplate;
}
#homenav {
	color: #000000;
}
#footme {
	color: #000000;
}
.gear {
	min-height: 100%;
	width: 100%;
	/*margin-right: 50px;*/
	margin-left: 30px
}

/*Small Screen CSS*/
@media only screen and (max-width: 600px) {
	.gear {
	min-height: 30%;
	width: 30%;
	/*margin-right: 50px;*/
	margin-left: 30px;
}
}

#homebg1 {
	background-image: url(./images/mainbg2.jpg);
	background-color: #333533;
	background-blend-mode: color-dodge;
	/*opacity: 0.3;*/
}
#learn {
	background-color: #004E98;
}
.intro {
	margin-right: 50px;
	padding-bottom: 50px;
}
#intro1 {
	color: #F8F9FA;
}
#aboutme {
	font-family:Verdana,sans-serif;
	line-height: 40px;
	background-image: url(./images/homebg3.jpg);
	background-size: cover;
	background-blend-mode: initial;
	color: #F8F9FA;
}
#myself {
	height: 800px;
	width: 600px;
	padding: auto;
	padding-top: 10px;
	border-radius: 50%;
	border-style: 10px solid #212529;
}

.contactme {
	text-align: center;
}

.foot {
	text-align: right;
}
.icons {
	padding: 20px;
	  font-size: 30px;
	  width: 30px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 50%;
	  opacity: 0.7;
}
#project {
	background-image: url(./images/homebg3.jpg);
	background-size: cover;
}

#project + #contact {
	background-blend-mode: inherit;
}